<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All orders</title>
</head>
<body>
<h1 th:text='${title}'></h1>
<h2 th:text='${name}' th:unless="${#lists.isEmpty(ordersList)}"></h2>
<table>
    <tbody>
    <tr th:each="o : ${ordersList}">
        <td th:text="${o.getId()}"></td>
        <td th:text="${o.getFormattedDate(o.getDate())}"></td>
        <td th:text="${o.customer.getName()}"></td>
        <td>
            <p th:each="p : ${o.getProducts()}">
                <span th:text="${p.getName()}"></span><br>
            </p>
        </td>
        <td><a th:href="@{/ordersView/delete/{id}(id=${o.id})}">Delete order</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
